.navbar-text {
    margin-top:0.5em;
    margin-bottom:0.5em;
}

h1 {
    margin-bottom: 0.5em;
    margin-top: 1.4em;
    font-weight:bold;
}

h2, h3{
    margin-top:1.6em;
}

code {
    color:black;
}

.navbar-text+.text-center {
    margin-bottom:0px;
}
.navbar-text+img {
    margin-bottom:0px;
}

.token-bar{
    background-color:#F8F8F8;
    margin-bottom: 2em;
    padding: 0.5em;
    border-radius: 10px;
    border: 1px solid #E7E7E7;
}
