.navbar-text {
    margin-top:0.5em;
    margin-bottom:0.5em;
}

h1 {
    margin-bottom: 0.5em;
    margin-top: 1.4em;
    font-weight:bold;
}

h2, h3{
    margin-top:1.6em;
}

code {
    color:black;
}

.navbar-text+.text-center {
    margin-bottom:0px;
}
.navbar-text+img {
    margin-bottom:0px;
}

.token-bar{
    background-color:#F8F8F8;
    margin-bottom: 2em;
    padding: 0.5em;
    border-radius: 10px;
    border: 1px solid #E7E7E7;
}

.swagger-section > .swagger-ui-wrap > div.container > ul#resources >li.resource > div.heading > ul.options > li {
    padding: 0;
    color: transparent;
    border: 0px transparent;
}

.swagger-section > .swagger-ui-wrap > div.container > ul#resources >li.resource > div.heading > ul.options > li > a.collapseResource{
    display:none;
}
.swagger-section > .swagger-ui-wrap > div.container > ul#resources >li.resource > div.heading > ul.options > li > a.expandResource {
    display: none;
}
#resources_container {
    max-width: 990px;
}

div.col-md-3>img {
    max-width:100%;
    max-height:110px;
    vertical-align: middle;
}
div.col-md-3 {
    min-height: 120px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    height:120px;
    line-height: 120px;
}

.imgalignhelper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.ui-widget-content a {
    color: #337AB7;
}

.ui-widget-content code {
    font-size: 12px;
}
.ui-widget-content p {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857;
}
.dropdown-menu>li
{	position:relative;
    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
    /* Rules below not implemented in browsers yet */
    -o-user-select: none;
    user-select: none;
    cursor:pointer;
}
.dropdown-menu .sub-menu {
    left: 100%;
    position: absolute;
    top: 0;
    display:none;
    margin-top: -1px;
    border-top-left-radius:0;
    border-bottom-left-radius:0;
    border-left-color:#fff;
    box-shadow:none;
}
.right-caret:after,.left-caret:after
{	content:"";
    border-bottom: 5px solid transparent;
    border-top: 5px solid transparent;
    display: inline-block;
    height: 0;
    vertical-align: middle;
    width: 0;
    margin-left:5px;
}
.right-caret:after
{	border-left: 5px solid #ffaf46;
}
.left-caret:after
{	border-right: 5px solid #ffaf46;
}
