---
swagger: "2.0"
info:
  version: "0.2"
  title: "FREME API Documentation"
host: "api.freme-project.eu"
basePath: "/0.2"

info:
  version: "0.2"
  title: FREME API Documentation
  description: |
    This web page documents the REST API of the FREME project. You can find more information about FREME on the [project website](http://freme-project.eu) and on the
    [FREME GitHub page](http://github.com/freme-project). The [FREME wiki](https://github.com/freme-project/technical-discussion/wiki) contains more technical documentation.

    # General

    This section defines the default parameter set for all FREME e-Services. The parameters have a long and a short form. If both are set, the long form overrides the short form. The API follows the most important points from [NIF API specifications](http://persistence.uni-leipzig.org/nlp2rdf/specification/api.html).

    Please note that all parameters submitted via the URLs query string need to be URL encoded according to [RFC 3986](https://tools.ietf.org/html/rfc3986).

    * input (short form: i):
      * input of the e-Service in plaintext or nif
      * No default
      * Depends on informat and intype
    * informat (short form: f):
      * format of input parameter.
      * possible values
        * text (plaintext)
        * text/turtle (default), short form: turtle
        * application/json+ld, short form: json-ld
        * application/n-triples, short form: n-triples
        * application/rdf+xml, short form: rdf-xml
        * text/n3, short form: n3
    * outformat (short form: o):
      * output format
      * possible values
        * text/turtle (default), short form: turtle
        * application/json+ld, short form: json-ld
        * application/n-triples, short form: n-triples
        * application/rdf+xml, short form: rdf-xml
        * text/n3, short form: n3
    * prefix (short form: p)
      * Controls the url of rdf resources generated from plaintext. Has default value "http://freme-project.eu/"

    The following header values are used by all FREME e-Services
    * Accept
      * possible values
        * turtle for text/turtle (default)
        * json-ld for application/json+ld
        * n-triples for application/n-triples
        * rdf-xml for application/rdf+xml
        * n3 for text/n3
      * When parameter outformat is set then the Accept header is not used by FREME api
    * Content-Type
      * possible values
        * text (plaintext)
        * text/turtle (default), short form: turtle
        * application/json+ld, short form: json-ld
        * application/n-triples, short form: n-triples
        * application/rdf+xml, short form: rdf-xml
        * text/n3, short form: n3
    * When parameter informat is set then the Content-Type header is not used by FREME api

tags:
- name: "e-Entity"
- name: "e-Translation"
- name: "e-Terminology"
- name: "e-Link"
- name: "e-Publishing"
schemes:
- "http"
paths:
  /e-entity/dbpedia-spotlight/documents:
    get:
      tags:
      - "e-Entity"
      summary: "Entity recognition and linking using DBPedia Spotlight engine. "
      description: "Enriches Text content with entities gathered from various datasets\
        \ by the DBPedia-Spotlight Engine. The service accepts plaintext or text sent\
        \ as NIF document. The text of the nif:isString property (attached to the\
        \ nif:Context document) will be used for processing. This example shows a\
        \ NIF document that can be processed by the service:\n```\n@prefix xsd: <http://www.w3.org/2001/XMLSchema#>\
        \ .\n@prefix nif: <http://persistence.uni-leipzig.org/nlp2rdf/ontologies/nif-core#>\
        \ .\n\n<http://example.org/document/1#char=0,18>\n    a nif:String , nif:Context\
        \ , nif:RFC5147String ;\n    nif:isString \"Welcome to Berlin!.\"^^xsd:string;\n\
        \    nif:beginIndex \"0\"^^xsd:nonNegativeInteger;\n    nif:endIndex \"18\"\
        ^^xsd:nonNegativeInteger;\n    nif:sourceUrl <http://differentday.blogspot.com/2007_01_01_archive.html>\
        \ .\n```\n"
      operationId: "execute"
      consumes:
      - "text/n3"
      - "text/turtle"
      - "application/json+ld"
      - "application/n-triples"
      - "text/plain"
      - "application/rdf+xml"
      produces:
      - "text/n3"
      - "text/turtle"
      - "application/json+ld"
      - "application/n-triples"
      - "application/rdf+xml"
      parameters:
      - name: "input"
        in: "query"
        description: "The text to enrich. Can be either plaintext or NIF (see parameter\
          \ informat). Short form is i."
        required: false
        type: "string"
      - name: "informat"
        in: "query"
        description: "Format of input string. Can be json-ld, turtle, n3, n-triples,\
          \ rdf-xml or text. Overrides Content-Type header. Short form is f."
        required: false
        type: "string"
        default: "text"
        enum:
        - "json-ld"
        - "turtle"
        - "n3"
        - "n-triples"
        - "rdf-xml"
      - name: "outformat"
        in: "query"
        description: "RDF serialization format of Output. Can be json-ld, turtle,\
          \ n3, n-triples, rdf-xml. Defaults to \"turtle\". Overrides Accept Header\
          \ (Response Content Type). Short form is o."
        required: false
        type: "string"
        default: "turtle"
        enum:
        - "json-ld"
        - "turtle"
        - "n3"
        - "n-triples"
        - "rdf-xml"
      - name: "prefix"
        in: "query"
        description: "Unused optional Parameter. Short form is p."
        required: false
        type: "string"
      - in: "body"
        name: "body"
        description: "The text to enrich. Will be overwritten by parameter input,\
          \ if set. The format of the body can be text/turtle, application/json+ld,\
          \ application/n-triples, application/rdf+xml, text/n3. Defaults to \"text/plain\"\
          . The parameter *informat* overrides the Content-Type."
        required: false
        schema:
          type: "string"
      - name: "language"
        in: "query"
        description: "Source language. Can be en, de, nl, fr, it, es (according to\
          \ supported NER engine)."
        required: false
        type: "string"
        enum:
        - "en"
        - "de"
        - "nl"
        - "fr"
        - "it"
        - "es"
      - name: "confidence"
        in: "query"
        description: "Threshold to limit the output of entities. Default is 0.3"
        required: false
        type: "string"
        default: "0.3"
      responses:
        200:
          description: "Successful response"
          schema:
            type: "string"
        400:
          description: "Bad request - input validation failed"
    post:
      tags:
      - "e-Entity"
      summary: "Entity recognition and linking using DBPedia Spotlight engine. "
      description: "Enriches Text content with entities gathered from various datasets\
        \ by the DBPedia-Spotlight Engine. The service accepts plaintext or text sent\
        \ as NIF document. The text of the nif:isString property (attached to the\
        \ nif:Context document) will be used for processing. This example shows a\
        \ NIF document that can be processed by the service:\n```\n@prefix xsd: <http://www.w3.org/2001/XMLSchema#>\
        \ .\n@prefix nif: <http://persistence.uni-leipzig.org/nlp2rdf/ontologies/nif-core#>\
        \ .\n\n<http://example.org/document/1#char=0,18>\n    a nif:String , nif:Context\
        \ , nif:RFC5147String ;\n    nif:isString \"Welcome to Berlin!.\"^^xsd:string;\n\
        \    nif:beginIndex \"0\"^^xsd:nonNegativeInteger;\n    nif:endIndex \"18\"\
        ^^xsd:nonNegativeInteger;\n    nif:sourceUrl <http://differentday.blogspot.com/2007_01_01_archive.html>\
        \ .\n```\n"
      operationId: "execute"
      consumes:
      - "text/n3"
      - "text/turtle"
      - "application/json+ld"
      - "application/n-triples"
      - "text/plain"
      - "application/rdf+xml"
      produces:
      - "text/n3"
      - "text/turtle"
      - "application/json+ld"
      - "application/n-triples"
      - "application/rdf+xml"
      parameters:
      - name: "input"
        in: "query"
        description: "The text to enrich. Can be either plaintext or NIF (see parameter\
          \ informat). Short form is i."
        required: false
        type: "string"
      - name: "informat"
        in: "query"
        description: "Format of input string. Can be json-ld, turtle, n3, n-triples,\
          \ rdf-xml or text. Overrides Content-Type header. Short form is f."
        required: false
        type: "string"
        default: "text"
        enum:
        - "json-ld"
        - "turtle"
        - "n3"
        - "n-triples"
        - "rdf-xml"
      - name: "outformat"
        in: "query"
        description: "RDF serialization format of Output. Can be json-ld, turtle,\
          \ n3, n-triples, rdf-xml. Defaults to \"turtle\". Overrides Accept Header\
          \ (Response Content Type). Short form is o."
        required: false
        type: "string"
        default: "turtle"
        enum:
        - "json-ld"
        - "turtle"
        - "n3"
        - "n-triples"
        - "rdf-xml"
      - name: "prefix"
        in: "query"
        description: "Unused optional Parameter. Short form is p."
        required: false
        type: "string"
      - in: "body"
        name: "body"
        description: "The text to enrich. Will be overwritten by parameter input,\
          \ if set. The format of the body can be text/turtle, application/json+ld,\
          \ application/n-triples, application/rdf+xml, text/n3. Defaults to \"text/plain\"\
          . The parameter *informat* overrides the Content-Type."
        required: false
        schema:
          type: "string"
      - name: "language"
        in: "query"
        description: "Source language. Can be en, de, nl, fr, it, es (according to\
          \ supported NER engine)."
        required: false
        type: "string"
        enum:
        - "en"
        - "de"
        - "nl"
        - "fr"
        - "it"
        - "es"
      - name: "confidence"
        in: "query"
        description: "Threshold to limit the output of entities. Default is 0.3"
        required: false
        type: "string"
        default: "0.3"
      responses:
        200:
          description: "Successful response"
          schema:
            type: "string"
        400:
          description: "Bad request - input validation failed"
  /e-entity/freme-ner/datasets:
    get:
      tags:
      - "e-Entity"
      summary: "Get info about all available datasets"
      description: ""
      operationId: "getAllDatasets"
      responses:
        200:
          description: "successful operation"
          schema:
            type: "string"
    post:
      tags:
      - "e-Entity"
      summary: "Submitting dataset for use in the e-Entity service"
      description: "Create dataset in SKOS format which includes prefLabel, altLabel\
        \ or label properties (unless the param properties is explicitly set)."
      operationId: "createDataset"
      consumes:
      - "text/n3"
      - "text/turtle"
      - "application/json+ld"
      - "application/n-triples"
      - "application/rdf+xml"
      produces:
      - "application/json"
      parameters:
      - name: "informat"
        in: "query"
        description: "RDF serialization format of the dataset. Can be json-ld, turtle,\
          \ n3, n-triples, rdf-xml. Overrides Content-Type header. Short form is f."
        required: false
        type: "string"
        default: "turtle"
        enum:
        - "json-ld"
        - "turtle"
        - "n3"
        - "n-triples"
        - "rdf-xml"
      - in: "body"
        name: "body"
        description: "The dataset. The format of the body can be text/turtle, application/json+ld,\
          \ application/n-triples, application/rdf+xml, text/n3. Defaults to \"text/turtle\"\
          . The parameter *informat* overrides the Content-Type."
        required: false
        schema:
          type: "string"
      - name: "name"
        in: "query"
        description: "proposed dataset name. It can be considered as ID for the dataset.\
          \ It should include only numbers, letters and should NOT include white spaces."
        required: false
        type: "string"
      - name: "language"
        in: "query"
        description: "language of the labels in the dataset. If the parameter is not\
          \ specified, all labels without language tag will be used while performing\
          \ linking. At the moment only following languages are supported - FREME\
          \ NER (en/de/fr/es/it), DBpedia Spotlight (en)."
        required: false
        type: "string"
        enum:
        - "de"
        - "en"
        - "it"
        - "fr"
        - "es"
      responses:
        200:
          description: "Successful response"
          schema:
            type: "string"
        400:
          description: "Bad request - input validation failed"
  /e-entity/freme-ner/datasets/{name}:
    get:
      tags:
      - "e-Entity"
      summary: "Get info about a specific dataset"
      description: ""
      operationId: "getDataset"
      parameters:
      - name: "name"
        in: "path"
        description: "The name of the requested dataset."
        required: true
        type: "string"
      responses:
        200:
          description: "successful operation"
          schema:
            type: "string"
    put:
      tags:
      - "e-Entity"
      summary: "Updating dataset for use in the e-Entity service"
      description: ""
      operationId: "updateDataset"
      parameters:
      - name: "informat"
        in: "query"
        description: "RDF serialization format of the dataset. Can be json-ld, turtle,\
          \ n3, n-triples, rdf-xml. Overrides Content-Type header. Short form is f."
        required: false
        type: "string"
        default: "turtle"
        enum:
        - "json-ld"
        - "turtle"
        - "n3"
        - "n-triples"
        - "rdf-xml"
      - in: "body"
        name: "body"
        description: "The dataset. The format of the body can be text/turtle, application/json+ld,\
          \ application/n-triples, application/rdf+xml, text/n3. Defaults to \"text/turtle\"\
          . The parameter *informat* overrides the Content-Type."
        required: false
        schema:
          type: "string"
      - name: "name"
        in: "query"
        description: "The name name of the dataset to update. It can be considered\
          \ as ID for the dataset. It should include only numbers, letters and should\
          \ NOT include white spaces."
        required: false
        type: "string"
      - name: "language"
        in: "query"
        description: "language of the labels in the dataset. If the parameter is not\
          \ specified, all labels without language tag will be used while performing\
          \ linking. At the moment only following languages are supported - FREME\
          \ NER (en/de/fr/es/it), DBpedia Spotlight (en)."
        required: false
        type: "string"
        enum:
        - "de"
        - "en"
        - "nl"
        - "it"
        - "fr"
        - "es"
      responses:
        200:
          description: "Successful response"
          schema:
            type: "string"
        400:
          description: "Bad request - input validation failed"
    delete:
      tags:
      - "e-Entity"
      summary: "Removing a specific dataset"
      description: ""
      operationId: "removeDataset"
      parameters:
      - name: "name"
        in: "path"
        description: "The name of the dataset to remove"
        required: true
        type: "string"
      responses:
        200:
          description: "successful operation"
          schema:
            type: "string"
  /e-entity/freme-ner/documents:
    get:
      tags:
      - "e-Entity"
      summary: "Entity recognition and linking using Freme-NER engine."
      description: "Enriches Text content with entities gathered from various datasets\
        \ by the DBPedia-Spotlight Engine. The service accepts plaintext or text sent\
        \ as NIF document. The text of the nif:isString property (attached to the\
        \ nif:Context document) will be used for processing. This example shows a\
        \ NIF document that can be processed by the service:\n```\n@prefix xsd: <http://www.w3.org/2001/XMLSchema#>\
        \ .\n@prefix nif: <http://persistence.uni-leipzig.org/nlp2rdf/ontologies/nif-core#>\
        \ .\n\n<http://example.org/document/1#char=0,18>\n    a nif:String , nif:Context\
        \ , nif:RFC5147String ;\n    nif:isString \"Welcome to Berlin!.\"^^xsd:string;\n\
        \    nif:beginIndex \"0\"^^xsd:nonNegativeInteger;\n    nif:endIndex \"18\"\
        ^^xsd:nonNegativeInteger;\n    nif:sourceUrl <http://differentday.blogspot.com/2007_01_01_archive.html>\
        \ .\n```\n"
      operationId: "execute"
      consumes:
      - "text/n3"
      - "text/turtle"
      - "application/json+ld"
      - "application/n-triples"
      - "text/plain"
      - "application/rdf+xml"
      produces:
      - "text/n3"
      - "text/turtle"
      - "application/json+ld"
      - "application/n-triples"
      - "application/rdf+xml"
      parameters:
      - name: "input"
        in: "query"
        description: "The text to enrich. Can be either plaintext or NIF (see parameter\
          \ informat). Short form is i."
        required: false
        type: "string"
      - name: "informat"
        in: "query"
        description: "Format of input string. Can be json-ld, turtle, n3, n-triples,\
          \ rdf-xmlor text. Overrides Content-Type header. Short form is f."
        required: false
        type: "string"
        default: "text"
        enum:
        - "json-ld"
        - "turtle"
        - "n3"
        - "n-triples"
        - "rdf-xml"
        - "text"
      - name: "outformat"
        in: "query"
        description: "RDF serialization format of Output. Can be json-ld, turtle,\
          \ n3, n-triples, rdf-xml. Overrides Accept Header (Response Content Type).\
          \ Short form is o."
        required: false
        type: "string"
        default: "turtle"
        enum:
        - "json-ld"
        - "turtle"
        - "n3"
        - "n-triples"
        - "rdf-xml"
      - name: "prefix"
        in: "query"
        description: "Unused optional Parameter. Short form is p."
        required: false
        type: "string"
      - in: "body"
        name: "body"
        description: "The text to enrich. Will be overwritten by parameter input,\
          \ if set. The format of the body can be text/turtle, application/json+ld,\
          \ application/n-triples, application/rdf+xml, text/n3. Defaults to \"text/plain\"\
          . The parameter *informat* overrides the Content-Type."
        required: false
        schema:
          type: "string"
      - name: "language"
        in: "query"
        description: "Source language. Can be en, de, nl, fr, it, es (according to\
          \ supported NER engine)."
        required: false
        type: "string"
        enum:
        - "en"
        - "de"
        - "nl"
        - "fr"
        - "it"
        - "es"
      - name: "dataset"
        in: "query"
        description: "A mandatory parameter which indicates the dataset used for entity\
          \ linking which includes a list of entites and associated labels."
        required: true
        type: "string"
      responses:
        200:
          description: "Successful response"
          schema:
            type: "string"
        400:
          description: "Bad request - input validation failed"
    post:
      tags:
      - "e-Entity"
      summary: "Entity recognition and linking using Freme-NER engine."
      description: "Enriches Text content with entities gathered from various datasets\
        \ by the DBPedia-Spotlight Engine. The service accepts plaintext or text sent\
        \ as NIF document. The text of the nif:isString property (attached to the\
        \ nif:Context document) will be used for processing. This example shows a\
        \ NIF document that can be processed by the service:\n```\n@prefix xsd: <http://www.w3.org/2001/XMLSchema#>\
        \ .\n@prefix nif: <http://persistence.uni-leipzig.org/nlp2rdf/ontologies/nif-core#>\
        \ .\n\n<http://example.org/document/1#char=0,18>\n    a nif:String , nif:Context\
        \ , nif:RFC5147String ;\n    nif:isString \"Welcome to Berlin!.\"^^xsd:string;\n\
        \    nif:beginIndex \"0\"^^xsd:nonNegativeInteger;\n    nif:endIndex \"18\"\
        ^^xsd:nonNegativeInteger;\n    nif:sourceUrl <http://differentday.blogspot.com/2007_01_01_archive.html>\
        \ .\n```\n"
      operationId: "execute"
      consumes:
      - "text/n3"
      - "text/turtle"
      - "application/json+ld"
      - "application/n-triples"
      - "text/plain"
      - "application/rdf+xml"
      produces:
      - "text/n3"
      - "text/turtle"
      - "application/json+ld"
      - "application/n-triples"
      - "application/rdf+xml"
      parameters:
      - name: "input"
        in: "query"
        description: "The text to enrich. Can be either plaintext or NIF (see parameter\
          \ informat). Short form is i."
        required: false
        type: "string"
      - name: "informat"
        in: "query"
        description: "Format of input string. Can be json-ld, turtle, n3, n-triples,\
          \ rdf-xmlor text. Overrides Content-Type header. Short form is f."
        required: false
        type: "string"
        default: "text"
        enum:
        - "json-ld"
        - "turtle"
        - "n3"
        - "n-triples"
        - "rdf-xml"
        - "text"
      - name: "outformat"
        in: "query"
        description: "RDF serialization format of Output. Can be json-ld, turtle,\
          \ n3, n-triples, rdf-xml. Overrides Accept Header (Response Content Type).\
          \ Short form is o."
        required: false
        type: "string"
        default: "turtle"
        enum:
        - "json-ld"
        - "turtle"
        - "n3"
        - "n-triples"
        - "rdf-xml"
      - name: "prefix"
        in: "query"
        description: "Unused optional Parameter. Short form is p."
        required: false
        type: "string"
      - in: "body"
        name: "body"
        description: "The text to enrich. Will be overwritten by parameter input,\
          \ if set. The format of the body can be text/turtle, application/json+ld,\
          \ application/n-triples, application/rdf+xml, text/n3. Defaults to \"text/plain\"\
          . The parameter *informat* overrides the Content-Type."
        required: false
        schema:
          type: "string"
      - name: "language"
        in: "query"
        description: "Source language. Can be en, de, nl, fr, it, es (according to\
          \ supported NER engine)."
        required: false
        type: "string"
        enum:
        - "en"
        - "de"
        - "nl"
        - "fr"
        - "it"
        - "es"
      - name: "dataset"
        in: "query"
        description: "A mandatory parameter which indicates the dataset used for entity\
          \ linking which includes a list of entites and associated labels."
        required: true
        type: "string"
      responses:
        200:
          description: "Successful response"
          schema:
            type: "string"
        400:
          description: "Bad request - input validation failed"
  /e-link/documents/:
    post:
      tags:
      - "e-Link"
      summary: "Fetch data about named entities from various ontologies"
      description: "This service accepts a NIF document (with annotated entities)\
        \ and performs enrichment with pre-defined templates. The templates contain\
        \ \"fields\" marked between three at-signs @@@field-name@@@. If a user, while\
        \ calling the enrichment endpoint specifies an \"unknown\" parameter (not\
        \ from the list above), then the values of that \"unknown\" parameters will\
        \ be used to replace with the corresponding \"field\" in the query template.\
        \ This feature doesn't work via \"Try-it-out!\"-button.\n\nYou can find a\
        \ list of available templates in the [FREME wiki](https://github.com/freme-project/technical-discussion/wiki/Broker-API-Calls#user-content-available-templates).\n\
        \n**This is an example of a NIF document containing annotated entities that\
        \ can be processed by e-link:**\n\n```\n\n@prefix nif: <http://persistence.uni-leipzig.org/nlp2rdf/ontologies/nif-core#>\
        \ .\n@prefix itsrdf: <http://www.w3.org/2005/11/its/rdf#> .\n\n// NIF document\
        \ for processing - named entity extraction.\n<http://example.org/document/1#char=0,21>\n\
        \   a nif:String , nif:Context , nif:RFC5147String ;\n   nif:isString \"We\
        \ talk about Xiamen.\"^^xsd:string;\n   nif:beginIndex \"0\"^^xsd:nonNegativeInteger;\n\
        \   nif:endIndex \"21\"^^xsd:nonNegativeInteger;\n   nif:sourceUrl <http://differentday.blogspot.com/2007_01_01_archive.html>\
        \ .\n\n// Detected entity mention linked with its DBpedia representation and\
        \ ontology class.\n<http://example.org/document/1#char=14,20>\n   a nif:String\
        \ , nif:RFC5147String , nif:Word, nif:Phrase ;\n   nif:referenceContext <http://example.org/document/1#char=0,21>\
        \ ;\n   nif:anchorOf \"Xiamen\"\"\"^^xsd:string ;\n   nif:beginIndex \"14\"\
        ^^xsd:nonNegativeInteger ;\n   nif:endIndex \"20\"^^xsd:nonNegativeInteger\
        \ ;\nitsrdf:taIdentRef  <http://dbpedia.org/resource/Xiamen> .\nitsrdf:taClassRef\
        \  <http://dbpedia.org/ontology/City> ;\n\n```\n"
      operationId: "enrich"
      consumes:
      - "text/n3"
      - "text/turtle"
      - "application/json+ld"
      - "application/n-triples"
      - "application/rdf+xml"
      produces:
      - "text/n3"
      - "text/turtle"
      - "application/json+ld"
      - "application/n-triples"
      - "application/rdf+xml"
      parameters:
      - name: "informat"
        in: "query"
        description: "Format of input string. Can be json-ld, turtle, n3, n-triples,\
          \ rdf-xml. Overrides Content-Type header. Short form is f."
        required: false
        type: "string"
        default: "turtle"
        enum:
        - "json-ld"
        - "turtle"
        - "n3"
        - "n-triples"
        - "rdf-xml"
      - name: "outformat"
        in: "query"
        description: "RDF serialization format of Output. Can be json-ld, turtle,\
          \ n3, n-triples, rdf-xml. Defaults to \"turtle\". Overrides Accept Header\
          \ (Response Content Type). Short form is o."
        required: false
        type: "string"
        default: "turtle"
        enum:
        - "json-ld"
        - "turtle"
        - "n3"
        - "n-triples"
        - "rdf-xml"
      - in: "body"
        name: "body"
        description: "The text to enrich with data. The format of the body can be\
          \ text/turtle, application/json+ld. The parameter *informat* overrides the\
          \ Content-Type."
        required: false
        schema:
          type: "string"
      - name: "templateid"
        in: "query"
        description: "the ID of the template to be used for enrichment"
        required: true
        type: "integer"
        format: "int32"
      responses:
        200:
          description: "Successful response"
          schema:
            type: "string"
        400:
          description: "Bad request - input validation failed"
  /e-link/templates/:
    get:
      tags:
      - "e-Link"
      summary: "Returns a list of all templates in specified format."
      description: ""
      operationId: "getAllTemplates"
      produces:
      - "text/n3"
      - "text/turtle"
      - "application/json+ld"
      - "application/n-triples"
      - "application/rdf+xml"
      parameters:
      - name: "outformat"
        in: "query"
        description: "RDF serialization format of Output. Can be json-ld, turtle,\
          \ n3, n-triples, rdf-xml. Overrides Accept Header (Response Content Type).\
          \ Short form is o."
        required: false
        type: "string"
        default: "turtle"
        enum:
        - "json-ld"
        - "turtle"
        - "n3"
        - "n-triples"
        - "rdf-xml"
      responses:
        200:
          description: "Successful response"
          schema:
            type: "string"
        400:
          description: "Bad request - input validation failed"
    post:
      tags:
      - "e-Link"
      summary: "Creates a new enrichment template."
      description: ""
      operationId: "createTemplate"
      consumes:
      - "text/n3"
      - "text/turtle"
      - "application/json+ld"
      - "application/n-triples"
      - "application/rdf+xml"
      produces:
      - "text/n3"
      - "text/turtle"
      - "application/json+ld"
      - "application/n-triples"
      - "application/rdf+xml"
      parameters:
      - name: "informat"
        in: "query"
        description: "Format of input string. Can be json-ld, turtle, n3, n-triples,\
          \ rdf-xml. Overrides Content-Type header. Short form is f."
        required: false
        type: "string"
        default: "turtle"
        enum:
        - "json-ld"
        - "turtle"
        - "n3"
        - "n-triples"
        - "rdf-xml"
      - name: "outformat"
        in: "query"
        description: "RDF serialization format of Output. Can be json-ld, turtle,\
          \ n3, n-triples, rdf-xml. Overrides Accept Header (Response Content Type).\
          \ Short form is o."
        required: false
        type: "string"
        default: "turtle"
        enum:
        - "json-ld"
        - "turtle"
        - "n3"
        - "n-triples"
        - "rdf-xml"
      - in: "body"
        name: "body"
        description: "The new template. The format of the body can be text/turtle,\
          \ application/json+ld. Defaults to text/turtle. The parameter *informat*\
          \ overrides the Content-Type."
        required: false
        schema:
          type: "string"
      responses:
        200:
          description: "Successful response"
          schema:
            type: "string"
        400:
          description: "Bad request - input validation failed"
        404:
          description: "Not Found"
  /e-link/templates/{templateid}:
    get:
      tags:
      - "e-Link"
      summary: "Returns one specific template with specified ID in a specified format."
      description: ""
      operationId: "getTemplateById"
      produces:
      - "text/n3"
      - "text/turtle"
      - "application/json+ld"
      - "application/n-triples"
      - "application/rdf+xml"
      parameters:
      - name: "outformat"
        in: "query"
        description: "RDF serialization format of Output. Can be json-ld, turtle,\
          \ n3, n-triples, rdf-xml. Overrides Accept Header (Response Content Type).\
          \ Short form is o."
        required: false
        type: "string"
        default: "turtle"
        enum:
        - "json-ld"
        - "turtle"
        - "n3"
        - "n-triples"
        - "rdf-xml"
      - name: "templateid"
        in: "path"
        description: "The ID of the requested template."
        required: true
        type: "string"
      responses:
        200:
          description: "Successful response"
          schema:
            type: "string"
        400:
          description: "Bad request - input validation failed"
    put:
      tags:
      - "e-Link"
      summary: "Update an enrichment template with specified ID. The new data is submitted\
        \ as body of a PUT request."
      description: ""
      operationId: "updateTemplateById"
      consumes:
      - "text/n3"
      - "text/turtle"
      - "application/json+ld"
      - "application/n-triples"
      - "application/rdf+xml"
      produces:
      - "text/n3"
      - "text/turtle"
      - "application/json+ld"
      - "application/n-triples"
      - "application/rdf+xml"
      parameters:
      - name: "informat"
        in: "query"
        description: "Format of the template. Can be json-ld, turtle, n3, n-triples,\
          \ rdf-xml. Overrides Content-Type header. Short form is f."
        required: false
        type: "string"
        default: "turtle"
        enum:
        - "json-ld"
        - "turtle"
        - "n3"
        - "n-triples"
        - "rdf-xml"
      - name: "outformat"
        in: "query"
        description: "RDF serialization format of Output. Can be json-ld, turtle,\
          \ n3, n-triples, rdf-xml. Overrides Accept Header (Response Content Type).\
          \ Short form is o."
        required: false
        type: "string"
        default: "turtle"
        enum:
        - "json-ld"
        - "turtle"
        - "n3"
        - "n-triples"
        - "rdf-xml"
      - in: "body"
        name: "body"
        description: "The new template. The format of the body can be text/turtle,\
          \ application/json+ld, application/n-triples, application/rdf+xml, text/n3.\
          \ Defaults to text/turtle. The parameter *informat* overrides the Content-Type."
        required: false
        schema:
          type: "string"
      - name: "templateid"
        in: "path"
        description: "The ID of the template to update."
        required: true
        type: "string"
      responses:
        200:
          description: "Successful response"
          schema:
            type: "string"
        400:
          description: "Bad request - input validation failed"
    delete:
      tags:
      - "e-Link"
      summary: "Removes a template with specified ID."
      description: ""
      operationId: "removeTemplateById"
      parameters:
      - name: "templateid"
        in: "path"
        description: "The id of the template to delete."
        required: true
        type: "string"
      responses:
        200:
          description: "successful operation"
          schema:
            type: "string"
        204:
          description: "Successful removal response - No Content"
        400:
          description: "Bad request - input validation failed"
        404:
          description: "A template with such id was not found."
  /e-publishing/html:
    post:
      tags:
      - "e-Publishing"
      summary: "Create eBooks in the EPUB3 format"
      description: "Creates an eBook in the EPUB3 format from a zip file containing\
        \ HTML Files and more (images etc.) and a json file containing all necessary\
        \ metadata for the creation of the eBook.\n\n**Example Call**\n\n`curl --form\
        \ \"htmlZip=@alice.zip\" --form metadata='json-string' http://api-dev.freme-project.eu/current/e-publishing/html`\n\
        \n**Metadata JSON may include the following**\n* `titles` - a list of Strings\
        \ where each String represents one title\n* `authors` - a list of Strings\
        \ where each String represents one author\n* `illustrators` - a list of Strings\
        \ where each String represents one illustrator\n* `creators` - a list of Strings\
        \ where each String represents one creator\n* `subjects` - a list of Strings\
        \ where each String represents one subject\n* `coverImage` - the location\
        \ of the cover image inside the zip file\n* `language` - the language of the\
        \ content (e.g., 'en')\n* `source` - the original source of the content\n\
        * `description` - the description of the EPUB\n* `rights` - the rights applicable\
        \ to the EPUB\n* `identifier` - the identifier is represented by 'value',\
        \ 'scheme' is optional and represents the used scheme corresponding with the\
        \ value.\n* `tableOfContents` - it is an ordered list of the chapters/sections\
        \ in the EPUB. For each you provide the title and the corresponding HTML file\
        \ (= resource). If no tableOfContents is provided, the service will do a best\
        \ effort at creating one. However, when no (x)html file is found in the root\
        \ of the zip, the service will return an invalid EPUB.\n\n**Example Metadata\
        \ JSON**\n```\n{\n  \"titles\":[\"Alice in Utopia\",\"Alice in Europe\"],\n\
        \  \"authors\":[\"Joske Vermeulen\", \"Nick Borth\"],\n  \"illustrators\"\
        :[\"Frans Vervaacke\", \"John Riplosh\"],\n  \"creators\":[\"Joske Vermeulen\"\
        , \"Nick Borth\"],\n  \"subjects\":[\"alice\", \"rabbit\"],\n  \"coverImage\"\
        :\"cover.jpeg\",\n  \"language\":\"en\",\n  \"source\":\"\",\n  \"description\"\
        :\"This is the story about Alice in wonderland, involving a rabbit etc.\"\
        ,\n  \"rights\":\"\",\n  \"identifier\":{\n    \"scheme\":\"\",\n    \"value\"\
        :\"urn:1235-568-2235\"\n  },\n  \"tableOfContents\":[\n    {\n      \"title\"\
        :\"Chapter 1\",\n      \"resource\":\"01.xhtml\"\n    },\n    {\n      \"\
        title\":\"Chapter 2\",\n      \"resource\":\"02.xhtml\"\n    }\n  ]\n}```\n\
        **Sample .zips**\n* [Alice in wonderland](https://drive.google.com/open?id=0B-qMtkPK-unYbVROT1J2TTRycDg&authuser=0)\n\
        * [A shared culture](https://drive.google.com/open?id=0B-qMtkPK-unYdWlHTWMyS2VaV28&authuser=0)"
      operationId: "htmlToEPub"
      consumes:
      - "multipart/form-data"
      produces:
      - "application/epub+zip"
      parameters:
      - in: "body"
        name: "htmlZip"
        description: "The html zip file to generate the epub from."
        required: false
        schema:
          $ref: "#/definitions/File"
      - name: "metadata"
        in: "query"
        required: true
        type: "string"
      responses:
        200:
          description: "Successful response"
          schema:
            type: "array"
            items:
              type: "string"
              format: "byte"
        400:
          description: "Bad request - input validation failed"
  /e-terminology/tilde:
    post:
      tags:
      - "e-Terminology"
      summary: "Annotate text with terminology information using Tilde Terminology\
        \ service."
      description: "Annotate text with terminology information using Tilde Terminology\
        \ service."
      operationId: "tildeTranslate"
      consumes:
      - "text/n3"
      - "text/turtle"
      - "application/json+ld"
      - "application/n-triples"
      - "text/plain"
      - "application/rdf+xml"
      produces:
      - "text/n3"
      - "text/turtle"
      - "application/json+ld"
      - "application/n-triples"
      - "application/rdf+xml"
      parameters:
      - name: "input"
        in: "query"
        description: "The text to annotate. Can be either plaintext or NIF (see parameter\
          \ informat). Short form is i."
        required: false
        type: "string"
      - name: "informat"
        in: "query"
        description: "Format of input string. Can be json-ld, turtle, n3, n-triples,\
          \ rdf-xml or text. Overrides Content-Type header. Short form is f."
        required: false
        type: "string"
        default: "text"
        enum:
        - "json-ld"
        - "turtle"
        - "n3"
        - "n-triples"
        - "rdf-xml"
        - "text"
      - name: "outformat"
        in: "query"
        description: "RDF serialization format of Output. Can be json-ld, turtle,\
          \ n3, n-triples, rdf-xml. Defaults to \"turtle\". Overrides Accept Header\
          \ (Response Content Type). Short form is o."
        required: false
        type: "string"
        default: "turtle"
        enum:
        - "json-ld"
        - "turtle"
        - "n3"
        - "n-triples"
        - "rdf-xml"
      - name: "prefix"
        in: "query"
        description: "Unused optional Parameter. Short form is p."
        required: false
        type: "string"
      - in: "body"
        name: "body"
        description: "The text to annotate. Will be overwritten by parameter input,\
          \ if set. The format of the body can be text/turtle, application/json+ld,\
          \ application/n-triples, application/rdf+xml, text/n3. Defaults to \"text/plain\"\
          . The parameter *informat* overrides the Content-Type."
        required: false
        schema:
          type: "string"
      - name: "source-lang"
        in: "query"
        description: "Source language, e.g. \"de\",\"en\". Language of submitted text.\
          \ A list of supported language codes is [here](https://term.tilde.com/resources)."
        required: true
        type: "string"
        enum:
        - "en"
        - "de"
        - "fr"
        - "nl"
        - "it"
        - "es"
      - name: "target-lang"
        in: "query"
        description: "Target language, e.g. \"de\", \"en\". Language for targeted\
          \ terms. A list of supported language codes is [here](https://term.tilde.com/resources)."
        required: true
        type: "string"
        enum:
        - "en"
        - "de"
        - "fr"
        - "nl"
        - "it"
        - "es"
      - name: "domain"
        in: "query"
        description: "If given - it filters out by domain proposed terms. Available\
          \ domains here: https://term.tilde.com/domains (should pass just ID, eg,\
          \ TaaS-1001, that means Agriculture)"
        required: false
        type: "string"
      responses:
        200:
          description: "Successful response"
          schema:
            type: "string"
        400:
          description: "Bad request - input validation failed"
  /e-translation/tilde:
    post:
      tags:
      - "e-Translation"
      summary: "Perform machine translation using Tilde's API"
      description: "Parameters can be submitted via URL or via form-data post body.\
        \ A list of available language pairs is [here](https://services.tilde.com/translationsystems)."
      operationId: "tildeTranslate"
      consumes:
      - "text/n3"
      - "text/turtle"
      - "application/json+ld"
      - "application/n-triples"
      - "text/plain"
      - "application/rdf+xml"
      produces:
      - "text/n3"
      - "text/turtle"
      - "application/json+ld"
      - "application/n-triples"
      - "application/rdf+xml"
      parameters:
      - name: "input"
        in: "query"
        description: "The string to be translated. Can be either plaintext or NIF\
          \ (see parameter informat). Short form is i. If set, it will be prefered\
          \ over the body content."
        required: false
        type: "string"
      - name: "informat"
        in: "query"
        description: "Format of input string. Can be json-ld, turtle, n3, n-triples,\
          \ rdf-xmlor text. Defaults to \"turtle\". This parameter overrides Content-Type\
          \ header. Short form is f."
        required: false
        type: "string"
        default: "turtle"
        enum:
        - "json-ld"
        - "turtle"
        - "n3"
        - "n-triples"
        - "rdf-xml"
        - "text"
      - name: "outformat"
        in: "query"
        description: "RDF serialization format of Output. Can be json-ld, turtle,\
          \ n3, n-triples, rdf-xml. Defaults to \"turtle\". This parameter overrides\
          \ Accept header (Response Content Type). Short form is o."
        required: false
        type: "string"
        default: "turtle"
        enum:
        - "json-ld"
        - "turtle"
        - "n3"
        - "n-triples"
        - "rdf-xml"
      - name: "prefix"
        in: "query"
        description: "Controls the url of rdf resources generated from plaintext.\
          \ Has default value \"http://freme-project.eu/\". Short form is p."
        required: false
        type: "string"
      - in: "body"
        name: "body"
        description: "The string to be translated. Can be either plaintext or NIF.\
          \ Will be overwritten by parameter input, if set. The format of the body\
          \ can be text/turtle, application/json+ld, application/n-triples, application/rdf+xml,\
          \ text/n3. Defaults to \"text/turtle\". The parameter *informat* overrides\
          \ the Content-Type."
        required: false
        schema:
          type: "string"
      - name: "source-lang"
        in: "query"
        description: "Source language, e.g. \"en\". A list of available language pairs\
          \ is [here](https://services.tilde.com/translationsystems)."
        required: true
        type: "string"
        enum:
        - "en"
        - "de"
        - "fr"
        - "nl"
        - "it"
        - "es"
      - name: "target-lang"
        in: "query"
        description: "Target language, e.g. \"de\". A list of available language pairs\
          \ is [here](https://services.tilde.com/translationsystems)."
        required: true
        type: "string"
        enum:
        - "en"
        - "de"
        - "fr"
        - "nl"
        - "it"
        - "es"
      - name: "domain"
        in: "query"
        description: "Currently not used"
        required: false
        type: "string"
      responses:
        200:
          description: "Successful response"
          schema:
            type: "string"
        400:
          description: "Bad request - input validation failed"
definitions:
  File:
    type: "object"
    properties:
      path:
        type: "string"
      name:
        type: "string"
      parent:
        type: "string"
      absolute:
        type: "boolean"
        default: false
      canonicalPath:
        type: "string"
      parentFile:
        $ref: "#/definitions/File"
      absolutePath:
        type: "string"
      absoluteFile:
        $ref: "#/definitions/File"
      canonicalFile:
        $ref: "#/definitions/File"
      directory:
        type: "boolean"
        default: false
      file:
        type: "boolean"
        default: false
      hidden:
        type: "boolean"
        default: false
      totalSpace:
        type: "integer"
        format: "int64"
      freeSpace:
        type: "integer"
        format: "int64"
      usableSpace:
        type: "integer"
        format: "int64"
