# Example YAML to get you started quickly.
# Be aware that YAML has indentation based scoping.
# Code completion support is available so start typing for available options.
swagger: '2.0'
host: api.freme-project.eu
# This is your document metadata
info:
  version: "0.2"
  title: FREME API Documentation
  description: |
    This web page documents the REST API of the FREME project. You can find more information about FREME on the [project website](http://freme-project.eu) and on the 
    [FREME GitHub page](http://github.com/freme-project). The [FREME wiki](https://github.com/freme-project/technical-discussion/wiki) contains more technical documentation.
    
    # General

    This section defines the default parameter set for all FREME e-Services. The parameters have a long and a short form. If both are set, the long form overrides the short form. The API follows the most important points from [NIF API specifications](http://persistence.uni-leipzig.org/nlp2rdf/specification/api.html). All FREME api endpoints accept only HTTP POST requests, however, there are exceptions for some services.

    Please note that all parameters submitted via the URLs query string need to be URL encoded according to [RFC 3986](https://tools.ietf.org/html/rfc3986).

    * input (short form: i):
      * input of the e-Service in plaintext or nif
      * No default
      * Depends on informat and intype
    * informat (short form: f):
      * format of input parameter.
      * possible values
        * text (plaintext)
        * text/turtle (default), short form: turtle
        * application/json+ld, short form: json-ld
        * application/n-triples, short form: n-triples
        * application/rdf+xml, short form: rdf-xml
        * text/n3, short form: n3
    * outformat (short form: o):
      * output format
      * possible values
        * text/turtle (default), short form: turtle
        * application/json+ld, short form: json-ld
        * application/n-triples, short form: n-triples
        * application/rdf+xml, short form: rdf-xml
        * text/n3, short form: n3
    * prefix (short form: p)
      * Controls the url of rdf resources generated from plaintext. Has default value "http://freme-project.eu/"

    The following header values are used by all FREME e-Services
    * Accept
      * possible values
        * turtle for text/turtle (default)
        * json-ld for application/json+ld
        * n-triples for application/n-triples
        * rdf-xml for application/rdf+xml
        * n3 for text/n3
      * When parameter outformat is set then the Accept header is not used by FREME api
    * Content-Type
      * possible values
        * text (plaintext)
        * text/turtle (default), short form: turtle
        * application/json+ld, short form: json-ld
        * application/n-triples, short form: n-triples
        * application/rdf+xml, short form: rdf-xml
        * text/n3, short form: n3
    * When parameter informat is set then the Content-Type header is not used by FREME api    

basePath: /0.2/  
    
#TODO: Check all error codes. Calling the API does note necessarily produce expected results.
#TODO: Check if e-entity service is not working or our api calls are not working
# For Example my "example Call" for /e-entity/dbpedia-spotlight/documents does not work because the parser replaces "&" in input with "&amp;"
# Other "Example Calls" which return 404 worked at the time the example call was created. Must be because the service is actually not available
# Translation API call seems to be working
# Have not tested the EPUB calls
#TODO: Check response classes... See api-dev.freme-project.eu/doc/
# Vielleicht sollten wir die moeglichen outputs irgendwie vereinheitlichen da ja z.B 400 immer als status code ngezeigt wird aber z.B 2000 immer als (...?!?) response class
# Ich habe ausserdem das gefuehl, dass der editor (Und derdazugehoerige interpreter) mit jeder weiteren Zeile noch langsamer wird. Die Geschwindigkeit ist langsam absolut untragbar..

tags:
  - name: e-Translation
    description: |
    
      Some Description
  
paths:
  /e-translation/tilde:
    post:
    
      tags:
        - e-Translation
    
      summary: Perform machine translation using Tilde's API
      
      description: |
        Example call 
        
            curl --data "input=hello+world&informat=text&source-lang=en&target-lang=de" http://api-dev.freme-project.eu/current/e-translation/tilde
      produces:
        - application/json+ld
        - text/turtle
     
      consumes:
        - text/plain
        - application/json+ld
        - text/turtle
    
      parameters:
        - name: Content-Type
          in: header
          description: Format of input string. Can be "plaintext", "json-ld", "turtle". Defaults to "turtle". The parameter *informat* overrides Content-Type header.
          required: false
          type: string
        - name: Accept
          in: header
          description: RDF serialization format of output. Can be "json-ld", "turtle". Defaults to "turtle". The parameter *outformat* overrides Accept header
          required: false
          type: string
        - name: input
          in: body
          description: The string to be translated. Can be either plaintext or NIF (see parameter informat).
          required: true
          schema:
            type: string
        - name: informat
          in: query
          description: Format of input string. Can be "plaintext", "json-ld", "turtle". Defaults to "turtle". This parameter overrides *Content-Type* header
          required: false
          type: string          
        - name: outformat
          in: query
          description: RDF serialization format of output. Can be "json-ld", "turtle". Defaults to "turtle". This parameter overrides Accept header
          required: false
          type: string         
        - name: prefix
          in: query
          description: Controls the url of rdf resources generated from plaintext. Has default value "http://freme-project.eu/"
          required: false
          type: string    
        - name: source-lang
          in: query
          description: Source language, e.g. "en"
          required: true
          type: string     
        - name: target-lang
          in: query
          description: Target language, e.g. "de"
          required: true
          type: string           
        - name: domain
          in: query
          description: Currently not used
          required: false
          type: string           
      
      # Expected responses for this operation:
      responses:
        # Response code
        200:
          description: Successful response
          schema:
            title: NIF response
            type: string
            example: TODO
        406:
          description: Bad request - input validation failed
          schema:
            title: Array
            
            
  /e-entity/dbpedia-spotlight/documents:
    post:
    
      tags:
        - e-Entity
    
      summary: Entity recognition and linking using DBPedia Spotlight   
      
  
      description: |

        Example call
      
            curl --data "input=hallo berlin&informat=text" http://api-dev.freme-project.eu/current/e-entity/dbpedia-spotlight/documents

      produces:
        - application/json+ld
        - text/turtle
     
      consumes:
        - text/plain
        - application/json+ld
        - text/turtle
      
      parameters:
        
        -
          name: Content-Type
          in: header
          description: Format of input string. Can be "plaintext", "json-ld", "turtle". Defaults to "turtle". The parameter *informat* overrides Content-Type header.
          required: false
          type: string

        -
          name: Accept
          in: header
          description: RDF serialization format of output. Can be "json-ld", "turtle". Defaults to "turtle". The parameter *outformat* overrides Accept header
          required: false
          type: string
          
        - 
          name: input
          in: body
          description: Plain text sent as value of the input parameter.
          required: true
          schema:
            type: string
        
          
        -
          name: informat
          in: query
          description: Format of input string. Only "text" is provided (default). This parameter overrides *Content-Type* header
          required: false
          type: string
          
        -
          name: outformat
          in: query
          description: RDF serialization format of output. Can be "json-ld", "turtle" (?). Defaults to "turtle". This parameter overrides Accept header
          required: false
          type: string
          
        -
          name: prefix
          in: query
          description: unused optional dummy parameter
          required: false
          type: string    
       
        -
          name: language
          in: query
          description: Source language "en"/"de"/"nl"/"fr"/"it"/"es" (according to supported NER engine)
          required: false
          type: string
        -
          name: confidence
          in: query
          description: Threshold to limit the output entities. Default is 0.3.
          required: false
          type: number
          
          
      # Expected responses for this operation:
      responses:
        # Response code
        200:
          description: Successful response
          schema:
            title: NIF response
            type: string
            example: asdasdasd
        400:
          description: Bad request - input validation failed
          schema:
            title: Array
            
  /e-entity/freme-ner/documents:
  
    post:
    
      tags:
        - e-Entity
    
      summary: Entity recognition and linking using FREME NER
      
      description: |
        Example Call
        
            curl --data "input=Berlin&dataset=tilde&language=en&informat=text" http://api-dev.freme-project.eu/current/e-entity/freme-ner/documents
        
        

       
      
      produces:
        - application/json+ld
        - text/turtle
     
      consumes:
        - text/plain
        - application/json+ld
        - text/turtle
      
      parameters:
        
        -
          name: Content-Type
          in: header
          description: Format of input string. Can be "plaintext", "json-ld", "turtle". Defaults to "turtle". The parameter *informat* overrides Content-Type header.
          required: false
          type: string

        -
          name: Accept
          in: header
          description: RDF serialization format of output. Can be "json-ld", "turtle". Defaults to "turtle". The parameter *outformat* overrides Accept header
          required: false
          type: string
          
        - 
          name: input
          in: body
          description: Plain text sent as value of the input parameter.
          required: true
          schema:
            type: string
        
          
        -
          name: informat
          in: query
          description: Format of input string. Only "plaintext" is provided (default). This parameter overrides *Content-Type* header
          required: false
          type: string
          
        -
          name: outformat
          in: query
          description: RDF serialization format of output. Can be "json-ld", "turtle" (?). Defaults to "turtle". This parameter overrides Accept header
          required: false
          type: string
          
        -
          name: prefix
          in: query
          description: unused optional dummy parameter
          required: false
          type: string    
       
        -
          name: language
          in: query
          description: Source language "en"/"de"/"nl"/"fr"/"it"/"es" (according to supported NER engine)
          required: false
          type: string
        -
          name: dataset
          in: query
          description: A mandatory parameter which indicates the dataset used for entity linking which includes list of entities and associated labels.
          required: true
          type: string
          
          
      # Expected responses for this operation:
      responses:
        # Response code
        200:
          description: Successful response
          schema:
            title: NIF response
            type: string
            example: asdasdasd
        400:
          description: Bad request - input validation failed
          schema:
            title: Array
            
  /e-entity/freme-ner/datasets:
    post:
    
      tags:
        - e-Entity
    
      summary: Create dataset in SKOS format.

      
      description: |
          Create dataset in SKOS format which includes prefLabel, altLabel or label properties (unless the param properties is explicitly set).
     
      consumes:
        - text/plain
        - application/json+ld
        - text/turtle
      
      parameters:
        - name: name
          in: query
          description: proposed dataset name. It can be considered as ID for the dataset. It should include only numbers, letters and should NOT include white spaces.
          required: true
          type: string
        - name: language
          in: query
          description: language of the labels in the dataset. If the parameter is not specified, all labels without language tag will be used while performing linking. At the moment only following languages are supported - FREME NER (en/de/fr/es/it), DBpedia Spotlight (en).
          required: false
          type: string
        - name: format
          in: query
          description: RDF serialization format of the dataset.
          required: false
          type: string
        - name: properties
          in: query
          description: an optional parameter which lists RDF properties which hold the entity names (labels). This list of labels will be considered as names for the entities. An example of such property is "http://www.w3.org/TR/skos-reference#prefLabel" or "http://www.w3.org/2000/01/rdf-schema#label". By default, the skos:prefLabel, skos:altLabel and rdfs:label are considered. eg. "properties=http://www.w3.org/TR/skos-reference#prefLabel","http://www.w3.org/2000/01/rdf-schema#label"
          required: false
          type: string
        - name: dataset-name
          in: query
          description: name of dataset to be created
          required: true
          type: string        
     
          
      responses:
        200:
          description: Successful response
          schema:
            title: Array
        409:
          description: A dataset with such name exists already
          schema:
            title: Array
            
    get:
      tags:
        - e-Entity
        
      summary: To list all available datasets.
      description:   |
        Example Call
        
            curl -vL  http://api-dev.freme-project.eu/current/e-entity/freme-ner/datasets


       
      parameters:
        
        - name: language
          in: query
          description: Language 
          required: false
          type: string
      responses:
        200:
          description: Successful response
        409:
          description: A dataset with such name exists already while creation.
          schema:
            title: Array
  
  /e-entity/freme-ner/datasets/{dataset-name}:           
    put:
      tags:
        - e-Entity
    
      summary: To update a dataset with new data.
      description: |
        Example Call
        
             PUT http://api-dev.freme-project.eu/current/e-entity/freme-ner/datasets/{dataset-name}?language={lang}
             
          (unverified, see [FREME wiki](https://github.com/freme-project/technical-discussion/wiki))
          
      parameters:
        - name: dataset-name
          in: path
          description: Name of dataset to be updated
          required: true
          type: string
        - name: language
          description: Language. Data should be RDF (SKOS) document.
          in: query
          required: false
          type: string
      responses:
        200:
          description: Successful response
          
        404:
          description: if dataset does not exists
          schema:
            title: Array
    

  /e-link/documents:
    post:
    
      tags:
        - e-Link
    
      summary: Fetch data about named entities from various ontologies
      
      description: |
        Example Call
        
            curl -X POST -d @data.ttl "http://api-dev.freme-project.eu/current/e-link/documents?outformat=turtle&templateid=1" -H "Content-Type: text/turtle"
            
          (unverified, see [FREME wiki](https://github.com/freme-project/technical-discussion/wiki))

      
      parameters:
        -
          name: Content-Type
          in: header
          description: Format of input string. Can be "plaintext", "json-ld", "turtle". Defaults to "turtle". The parameter *informat* overrides Content-Type header.
          required: false
          type: string

        -
          name: Accept
          in: header
          description: RDF serialization format of output. Can be "json-ld", "turtle". Defaults to "turtle". The parameter *outformat* overrides *Accept* header
          required: false
          type: string
          
          
        -
          name: informat
          in: query
          description: Format of input string. Can be "plaintext", "json-ld", "turtle". Defaults to "turtle". This parameter overrides *Content-Type* header. 
          required: false
          type: string
          
        -
          name: outformat
          in: query
          description: RDF serialization format of output. Can be "json-ld", "turtle". Defaults to "turtle". This parameter overrides *Accept* header
          required: false
          type: string
          
        -
          name: prefix
          in: query
          description: Controls the url of rdf resources generated from plaintext. Has default value "http://freme-project.eu/"
          required: false
          type: string    
        -
          name: templateid
          in: query
          description: The ID of the template to be used for enrichment.
          required: true
          type: string     
        -
          name: user defined paramateres
          in: query
          description: The templates contain "fields" marked between three at-signs @@@field-name@@@. If a user, while calling the enrichment endpoint specifies an "unknown" parameter (not from the list above), then the values of that "unknown" parameters will be used to replace with the corresponding "field" in the query template.
          required: false
          type: string           
          
      # Expected responses for this operation:
      responses:
        # Response code
        200:
          description: Successful response
          schema:
            title: NIF response
            type: string
            example: asdasdasd
        400:
          description: Bad request - input validation failed
          schema:
            title: Array

  /e-link/templates:
    post:
    
      tags:
        - e-Link
    
      summary: Creates  new enrichment template.
      description: |
        Example Call
        
            curl -X POST -d @template.json "http://api-dev.freme-project.eu/current/e-link/templates/" -H "Content-Type: application/json" -H "Accept: application/json" -v
            
            
        (unverified, see [FREME wiki](https://github.com/freme-project/technical-discussion/wiki))

            

      parameters:
        -
          name: Content-Type
          in: header
          description: Format of input string. Can be "plaintext", "json-ld", "turtle". Defaults to "turtle". The parameter *informat* overrides Content-Type header.
          required: false
          type: string

        -
          name: Accept
          in: header
          description: RDF serialization format of output. Can be "json-ld", "turtle". Defaults to "turtle". The parameter *outformat* overrides *Accept* header
          required: false
          type: string
         
          
        -
          name: informat
          in: query
          description: Format of input string. Can be "plaintext", "json-ld", "turtle". Defaults to "turtle". In addition to the supported formats by the broker, JSON is also supported. This parameter overrides *Content-Type* header. 
          required: false
          type: string
          
        -
          name: outformat
          in: query
          description: RDF serialization format of output. Can be "json-ld", "turtle". Defaults to "turtle". In addition to the supported formats by the broker, JSON is also supported. This parameter overrides *Accept* header
          required: false
          type: string
                
          
      # Expected responses for this operation:
      responses:
        # Response code
        200:
        
          description: Successful response
          schema:
            title: NIF response
            type: string
            example: asdasdasd
        400:
          description: Bad request - input validation failed
          schema:
            title: Array
    get:
      tags:
        - e-Link
    
      summary: Returns list of all templates in specified format.
      
      description: |
        Example Call
    
            curl -v http://api-dev.freme-project.eu/current/e-link/templates
      
      parameters:
      

        -
          name: Accept
          in: header
          description: RDF serialization format of output. Can be "json-ld", "turtle". Defaults to "turtle". The parameter *outformat* overrides *Accept* header
          required: false
          type: string
          
        -
          name: outformat
          in: query
          description: RDF serialization format of output. Can be "json-ld", "turtle". Defaults to "turtle". In addition to the supported formats by the broker, JSON is also supported. This parameter overrides *Accept* header
          required: false
          type: string
                
          
      # Expected responses for this operation:
      responses:
        # Response code
        200:
          description: Successful response
          schema:
            title: NIF response
            type: string
            example: asdasdasd
        

  /e-link/templates/{template-id}:
    put:
    
      tags:
        - e-Link
    
      summary: Update an enrichment template with specified ID. The new data is submited as body of a PUT request.
      description: |
        Example Call
        
            curl -X PUT -d @template.json "http://api-dev.freme-project.eu/current/e-link/templates/5" -H "Content-Type: application/json" -H "Accept: application/json" -v
            
        (unverified, see [FREME wiki](https://github.com/freme-project/technical-discussion/wiki))

      parameters:
        -
          name: Content-Type
          in: header
          description: Format of input string. Can be "plaintext", "json-ld", "turtle". Defaults to "turtle". The parameter *informat* overrides Content-Type header.
          required: false
          type: string

        -
          name: Accept
          in: header
          description: RDF serialization format of output. Can be "json-ld", "turtle". Defaults to "turtle". The parameter *outformat* overrides *Accept* header
          required: false
          type: string
          
        -
          name: informat
          in: query
          description: Format of input string. Can be "plaintext", "json-ld", "turtle". Defaults to "turtle". In addition to the supported formats by the broker, JSON is also supported. This parameter overrides *Content-Type* header. 
          required: false
          type: string
          
        -
          name: outformat
          in: query
          description: RDF serialization format of output. Can be "json-ld", "turtle". Defaults to "turtle". In addition to the supported formats by the broker, JSON is also supported. This parameter overrides *Accept* header
          required: false
          type: string
        - 
          name: template-id
          in: path
          description: ID of the template to be updated.
          required: true
          type: string
                
          
      # Expected responses for this operation:
      responses:
        # Response code
        200:
          description: Successful response
          schema:
            title: NIF response
            type: string
            example: asdasdasd
        400:
          description: Bad request - input validation failed
          schema:
            title: Array
    delete:
      tags:
        - e-Link
    
      summary: Removes a template with specified ID.
      
      parameters:
      

        -
          name: template-id
          in: path
          description: Template ID to be removed.
          required: true
          type: string
                
          
      # Expected responses for this operation:
      responses:
        # Response code
        204:
          description: No content. Successful removal status
          schema:
            title: No content
        400:
          description: Bad request - input validation failed
          schema:
            title: Array
      
    get:
      tags:
        - e-Link
    
      summary: Returns one specific template with specified ID in a specified format.
      
      description: |
        Example Call
        
             curl -v  http://api-dev.freme-project.eu/current/e-link/templates/1

      
      parameters:
      

        -
          name: template-id
          in: path
          description: ID for which template is to be returned.
          required: true
          type: string
          
        -
          name: Accept
          in: header
          description: RDF serialization format of output. Can be "json-ld", "turtle". Defaults to "turtle". The parameter *outformat* overrides *Accept* header
          required: false
          type: string
          
        -
          name: outformat
          in: query
          description: RDF serialization format of output. Can be "json-ld", "turtle". Defaults to "turtle". In addition to the supported formats by the broker, JSON is also supported. This parameter overrides *Accept* header
          required: false
          type: string
                
          
      # Expected responses for this operation:
      responses:
        # Response code
        200:
          description: Successful response
          schema:
            title: NIF response
            type: string
            example: asdasdasd
            
        400:
          description: Bad request - input validation failed
          schema:
            title: Array


  /e-publishing:
    post:
    
      tags:
        - e-Publishing
    
      summary: Create eBooks in the EPUB3 format
      
      description: |
        Example Call
        
            curl --form "htmlZip=@alice.zip" --form metadata='json-string' http://api-dev.freme-project.eu/current/e-publishing/html > result.epub
        
         
            
         
        
        Metadata JSON may include the following
        
            titles- a list of Strings where each String represents one title
            authors- a list of Strings where each String represents one author
            illustrators- a list of Strings where each String represents one illustrator
            creators- a list of Strings where each String represents one creator
            subjects- a list of Strings where each String represents one subject
            coverImage- the location of the cover image inside the zip file
            language- the language of the content (e.g., 'en')
            source- the original source of the content
            description- the description of the EPUB
            rights- the rights applicable to the EPUB
            identifier- the identifier is represented by 'value', 'scheme' is optional and represents the used scheme corresponding with the value.
            tableOfContents- it is an ordered list of the chapters/sections in the EPUB. For each you provide the title and the corresponding HTML file (= resource). If no tableOfContents is provided, the service will do a best effort at creating one. However, when no (x)html file is found in the root of the zip, the service will return an invalid EPUB.

      
        Sample .zips
        
        [-Alice in wonderland](https://drive.google.com/open?id=0B-qMtkPK-unYbVROT1J2TTRycDg&authuser=0)
        
        [-A shared culture](https://drive.google.com/open?id=0B-qMtkPK-unYdWlHTWMyS2VaV28&authuser=0)
      
      
      parameters:
        -
          name: htmlZip
          in: header
          description: The zip file containing the html-files (and additional files).
          required: true
          type: string

        -
          name: metadata
          in: header
          description: The metadata JSON to build the EPUB.
          required: true
          type: string
                   
          
      # Expected responses for this operation:
      responses:
        # Response code
        200:
          description: Successful response
          schema:
            title: NIF response
            
        400:
          description: Bad request - input validation failed
          schema:
            title: Array



      
