
<footer class="footer">

		<div class = "navbar navbar-default navbar-fixed-bottom">
		
			<div class = "container">
				<p class = "navbar-text">FREME is being developed by the FREME Consortium.</p>
					<p class="text-center"><img height="40"  alt="eu-flag"	 width="60" src={{ "/img/flag_yellow_high-272x182.jpg" | prepend: site.basePath | prepend: site.github.url }}></p>
				<p class="navbar-text">Co-funded by the EC under the H2020 Framework Programme for Research and Innovation | Grant agreement number 644771.</p>
			</div>
			
		</div>
		
</footer>
