
<div class = "navbar navbar-default navbar-static-top">
	<div class = "container">
	
		<div class = "navbar-header">
								
			<button class = "navbar-toggle" data-toggle = "collapse" data-target = ".navHeaderCollapse">
				<span class = "icon-bar"></span>
				<span class = "icon-bar"></span>
				<span class = "icon-bar"></span>
			</button>
			<a href="{{"/index.html" | prepend: site.basePath }}"><img src={{ "/img/Logo_FREME_icona_vert.png" | prepend: site.basePath  }} alt="FREME Logo" class = "navbar-logo"></a>
			<!-- <a href = "#" class = "navbar-brand">FREME Documentation</a> -->
		</div>
		<div class = "collapse navbar-collapse navHeaderCollapse">
			<ul class="nav navbar-nav" id="__navbar__">
			</ul>
		</div>
		<script javascript>
			var pages_baseurl = "{{site.basePath }}";
			var pages_pageurl="{{page.url}}";
			var pages = [
			{% for p in site.pages %}
			{
				url : {% if {{p.url}} %}"{{p.url}}"{% else %}undefined{% endif %},
				externurl :  {% if {{p.externurl}} %}"{{p.externurl}}"{% else %}undefined{% endif %},
				pos :  {% if {{p.pos}} %}"{{p.pos}}"{% else %}undefined{% endif %},
				dropdownNames : {% if {{p.dropdown}} %}"{{p.dropdown}}"{% else %}undefined{% endif %},
				title :   {% if {{p.title}} %}"{{p.title}}"{% else %}undefined{% endif %}
			},
			{% endfor %}
			{}];
			pages=pages.filter(function(x){return x.pos!=undefined});
			pages.sort(function(p1,p2){
				var pos1=parseInt(p1.pos.split(".")[0]);
				var pos2=parseInt(p2.pos.split(".")[0]);
				if (pos1-pos2!=0){
					return pos1-pos2;
				}
				pos1=parseInt(p1.pos.split(".")[1]);
				pos2=parseInt(p2.pos.split(".")[1]);
				return pos1-pos2;
			});
			dropdown_obj={};
			for (var i=0; i<pages.length; i++) {
				if (pages[i].url==pages_pageurl) {
					pages[i].active=true;
				}
				pages[i].dropdownNames=pages[i].dropdownNames.split(",");
				var dropdown = pages[i].url.split("/").filter(function(x){return x!=""}).slice(0,-1);
				var link = "<li "+
						(pages[i].externurl!=undefined ?
							"><a target=\"_blank\" href=\""+pages[i].externurl+"\">"+pages[i].title+"</a></li>" :
								(pages[i].active ? "class=\"active\"" : "")+"><a href=\""+pages_baseurl+pages[i].url+"\">"+pages[i].title+"</a></li>");
				if (dropdown.length==0) {
					$("#__navbar__").append(link);
				} else {
					var selector = "__navbar__";
					for (var k =0; k<dropdown.length; k++) {
						var current = (dropdown.slice(0,k+1).join("."));
						if (dropdown_obj[current]==undefined) {
							dropdown_obj[current] = {};
							$("#"+selector).append(
									"<li> " +
										"<a href='#'>" + pages[i].dropdownNames[k] +
											"<span class='caret'></span>" +
										"</a>" +
									"<ul class='dropdown-menu' id='" + selector + dropdown[k].trim() + "'></ul></li>");
						}

						selector+=dropdown[k].trim();
						if (pages[i].active) {
							$("#"+selector).parent().addClass("active");
						}
					}
					$("#"+selector).append(link);
				}
			}
		</script>
	</div>
</div>
