
	<link rel="stylesheet" href="{% if {{page.path}} contains "/" %}{{ "/css/bootstrap.min.css" |  prepend: site.baseurl }}{% else %}{{"/css/bootstrap.min.css" | prepend: site.baseurl }}{% endif %}">
	<link rel="stylesheet" href="{% if {{page.path}} contains "/" %}{{ "/css/jquery.smartmenus.bootstrap.css"  | prepend: site.baseurl }}{% else %}{{"/css/jquery.smartmenus.bootstrap.css" | prepend: site.baseurl }}{% endif %}">
	<link rel="stylesheet" href="{% if {{page.path}} contains "/" %}{{ "/css/style.css"  | prepend: site.baseurl }}{% else %}{{"/css/style.css" | prepend: site.baseurl }}{% endif %}">
	<link rel="stylesheet" href="{% if {{page.path}} contains "/" %}{{ "/css/overwrite.css"  | prepend: site.baseurl }}{% else %}{{"/css/overwrite.css" | prepend: site.baseurl }}{% endif %}">

	<link rel="canonical" href="{{ page.url | replace:'home.html','' | prepend: site.baseurl | prepend: site.url }}">
	<link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />
	{% if {{page.layout}} != "swagger-doc" %}<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>{% endif %}
	<script src={% if {{page.path}} contains "/" %}{{ "/js/bootstrap.min.js" | prepend: site.baseurl }}{% else %}{{"/js/bootstrap.min.js" | prepend: site.baseurl }}{% endif %}
	></script>
	<script src={% if {{page.path}} contains "/" %}{{ "/js/jquery.smartmenus.min.js" | prepend: site.baseurl }}{% else %}{{"/js/jquery.smartmenus.min.js" | prepend: site.baseurl }}{% endif %}
	></script>
	<script src={% if {{page.path}} contains "/" %}{{ "/js/jquery.smartmenus.bootstrap.min.js" | prepend: site.baseurl }}{% else %}{{"/js/jquery.smartmenus.bootstrap.min.js" | prepend: site.baseurl }}{% endif %}
	></script>

	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script type="text/javascript">
		var fremeApiUrl= "{{ site.apiurl | prepend: site.url }}";
	</script>


t>